{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>StudentClubs</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static '/main.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    @media (max-width: 576px) {
      .col-sm-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
      }
    }
  </style>
  
</head>

<body>
  <!-- Cool weird custom navbar-->
  <div class="container-fluid navbar-fixed" style="background-color: #171717; height: 70px; position: fixed; top: 0; left: 0; right: 0;">
    <div class="container">
      <!-- Header on top of the navbar-->
      <div class="row justify-content-center justify-content-between">        
        <div class="col-sm-4 col-md d-flex justify-content-center align-items-center text-wrap" style="height: 25px;">
        <p class="card-text text-center" style="line-height: 5px; color: rgb(255, 255, 255); padding: 0 30px;">
        </p>
      </div>
    </div>
      <div class="row justify-content-center justify-content-between">
        <div class="col-sm-4 col-md d-flex justify-content-center align-items-center text-wrap" style="height: 40px;">
          <a class="nav-link text-center" href="/surveys" style="line-height: 38px; color: rgb(255, 255, 255); padding: 0 5px;">
            <h1></h1><h5><i class="fa fa-tasks icon" aria-hidden="true"></i> Discover</h5>
          </a>
        </div>
        <div class="col-sm-4 col-md d-flex justify-content-center align-items-center text-wrap" style="height: 40px;">
          <a class="nav-link text-center" href="/" style="line-height: 38px; color: rgb(255, 255, 255); padding: 0 5px;">
            <h1></h1><h5><i class="fa fa-home icon" aria-hidden="true"></i> Join</h5>
          </a>
        </div>
        <div class="col-sm-4 col-md d-flex justify-content-center align-items-center text-wrap" style="height: 40px;">
          <a class="nav-link text-center" href="/surveys" style="line-height: 38px; color: rgb(255, 255, 255); padding: 0 5px;">
            <h1></h1><h5><i class="fa fa-plus-square-o icon" aria-hidden="true"></i> Events</h5>
          </a>
        </div>
      </div>
    </div>
  </div>

<script>
  // Retrieve the selected item from local storage
  const selectedItem = sessionStorage.getItem('selectedItem');

// If a selected item exists, add the active class to the corresponding nav link
if (selectedItem) {
  document.querySelectorAll('.nav-link').forEach(link => {
    if (link.id === selectedItem || link.innerText === selectedItem) {
      link.classList.add('active');
    }
  });
}

  // Add event listener to all nav links
document.querySelectorAll('.nav-link').forEach(link => {
  link.addEventListener('click', function() {
    // Get the id or text of the clicked link
    const selectedItem = this.id || this.innerText;
    
    // Store the selected item in local storage
    sessionStorage.setItem('selectedItem', selectedItem);
  });
});
</script>

<div class="invisible container-fluid space-filler"></div>

{% block content %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>