{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>StudentClubs</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static '/main.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <style>
     @media (max-width: 576px) {
      .custom-col {
        flex-basis: 33.33% !important;
        max-width: 33.33% !important;
      }
    }
  </style>

</head>

<body>

  <div class="container-fluid custom-bg no-padding center-content title-container">
    <div class="row sticky-top justify-content-center h-100">
      <div class="col col-lg-10 d-flex flex-column text-center navmenu-text">
        <div style="display:flex; align-items:center;">
          <img class="mb-3" src="..\media\images\sc_logo4.png" style="width: 40px; height: 40px; margin-right: -10px;" />
          <p class="fs-4 fw-bold nav-text flex-grow-1 ms-2 mt-0">Student Clubs</p>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="row sticky-top justify-content-center custom-bg-2 h-100">
    <div class="col col-lg-1 d-flex flex-column text-center navmenu-text">
      <a href="http://127.0.0.1:3000/" class="text-decoration-none navmenu-text">
          <i class="fa fa-newspaper-o icon" aria-hidden="true"></i>
          <span>News</span>
      </a>
      </div>
      <div class="col col-lg-1 d-flex flex-column text-center navmenu-text">
        <a href="/discover" class="text-decoration-none navmenu-text">
          <i class="fa fa-address-card-o icon" aria-hidden="true"></i>
          <span>Discover</span>
      </a>
      </div>
    <div class="col col-lg-1 d-flex flex-column text-center navmenu-text">
      <a href="/joined" class="text-decoration-none navmenu-text">
        <i class="fa fa-check-square-o icon" aria-hidden="true"></i>
        <span>Joined</span>
      </a>
    </div>
    <div class="col col-lg-1 d-flex flex-column text-center navmenu-text">
      <a href="/profile" class="text-decoration-none navmenu-text">
        <i class="fa fa-user-o icon" aria-hidden="true"></i>
        <span>Profile</span>
      </a>
    </div>
  </div>
</div>




<!-- Space before content  -->
<div class="invisible container-fluid space-filler custom-bg"></div>
<!-- Space before content  -->

{% block content %}
{% endblock %}

<!-- Space after content -->
<div class="invisible container-fluid space-filler"></div>
<!-- Space after content -->

<!-- Footer -->
<div class="footer-dark">
  <footer>
      <div class="container justify-content-center">
          <div class="row">
              <div class="col-md-6 item text">
                  <h3>Student Clubs</h3>
                  <p>Create a student club and let it be discovered by other people in your school. Student Clubs allows you to compete against other clubss and let it be saved in your club's history.</p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">Student Clubs © 2023</p>
      </div>
  </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<script>

  // Retrieve the selected item from local storage
  const selectedItem = sessionStorage.getItem('selectedItem');

// If a selected item exists, add the active class to the corresponding nav link
if (selectedItem) {
  document.querySelectorAll('.navmenu-text').forEach(link => {
    if (link.id === selectedItem || link.innerText === selectedItem) {
      link.classList.add('active');
    }
  });
}

  // Add event listener to all nav links
document.querySelectorAll('.navmenu-text').forEach(link => {
  link.addEventListener('click', function() {
    // Get the id or text of the clicked link
    const selectedItem = this.id || this.innerText;
    
    // Store the selected item in local storage
    sessionStorage.setItem('selectedItem', selectedItem);
  });
});
</script>

</body>
</html>