{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<style>
    html, body {
      overflow-x: hidden !important;
      overflow-y: auto !important;
      -webkit-overflow-scrolling: touch !important;
    }
  </style>
  
<div class="container-fluid p-0 text-light">
    <div class="position-relative overflow-hidden d-flex" style="height: auto;  min-height: 200px;">
        <!-- Club banner -->
        <img src="{{ club.image.url }}" width="1920" height="1080" class="position-absolute img-fluid top-50 start-50 translate-middle" style="min-width: 400px;">
        <div class="position-absolute w-100 h-100" style="background-color: rgba(0, 0, 0, 0.5);"></div>
        <!-- Club avatar and name -->
        <div class="position-relative row py-3 justify-content-center align-items-center" style="max-width: 1000px; margin: 0 auto;">
            <div class="col-lg-2 col-md-12">
				<img class="club-avatar bg-primary rounded-circle d-block float-lg-end float-none mx-auto" src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"></img>
			</div>
			<div class="col-lg-10 col-md-12">
				<p class="text-center text-wrap club-avatar-label m-0" ><b>{{ club.name }}</b></p>
			</div>
        </div>
    </div>
    
    <!-- Club content container -->
    <div class="p-2" style="max-width: 1000px; margin: 0 auto;">
        <!-- Club's information - description -->
        <div class="club-description-text">
            {{ club.description }}
            <hr class="bg-secondary border-5 border-top border-secondary opacity-25">
        </div>

        <div class="row flex-column flex-md-row">
            <!-- Club actions and news -->
            <div class="col-lg-5 col-md-5 col-12">
                <!-- Club actions -->
                <div class="d-grid gap-2 pb-5">
                    <!-- Join Club button -->
                    <a href="#" role="button" class="btn btn-info btn-lg mx-3 border-0"><b>Join this club</b></a>

                    <!-- Club files button -->
                    <a href="#" role="button" class="position-relative btn btn-dark btn-lg mx-4 club-action-button">
                        <div class="position-absolute float-start">
                            <i class="bi bi-folder-fill me-3 text-info"></i>
                            <b>Files</b>
                        </div>
                    </a>

                    <!-- Club competitions -->
                    <a href="#" role="button" class="position-relative btn btn-dark btn-lg mx-4 club-action-button">
                        <div class="position-absolute float-start">
                            <i class="bi bi-award-fill me-3 text-info"></i>
                            <b>Competitions</b>
                        </div>
                    </a>
                    
                    <!-- Club students -->
                    <a href="#" role="button" class="position-relative btn btn-dark btn-lg mx-4 club-action-button">
                        <div class="position-absolute float-start">
                            <i class="bi bi-person-vcard-fill me-3 text-info"></i>
                            <b>Students</b>
                        </div>
                    </a>

                    <!-- Club pools -->
                    <a href="#" role="button" class="position-relative btn btn-dark btn-lg mx-4 club-action-button">
                        <div class="position-absolute float-start">
                            <i class="bi bi-person-hearts me-3 text-info"></i>
                            <b>Pools</b>
                        </div>
                    </a>

                </div>

                <!-- Club news -->
                <div class="card club-news-container w-100 bg-dark mb-sm-0 mb-3" style="--bs-bg-opacity: 0.25;">
                    <div class="card-header border-0 pb-0 pt-3" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;">
                        <h3 class="m-0 club-page-card-title"><b>News</b></h3>
                        <hr class="bg-secondary border-5 border-top border-secondary opacity-25 mt-1">
                    </div>
                    
                    <div class="card-body pt-0" style="overflow-y: auto;">

                        <!-- New -->
                        <div class="p-2" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;">
                            <div class="club-news-card-title">Created new file! IT WAS the best book ever</div>
                            <p class="club-news-card-body-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, recusandae!
                            </p>
                            <hr class="bg-secondary border-5 border-top border-secondary opacity-25 w-50 mx-auto">
                        </div>

                        <!-- New -->
                        <div class="p-2" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;">
                            <div class="club-news-card-title">News title</div>
                            <p class="club-news-card-body-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis hic delectus iure fugiat labore harum!
                            </p>
                            <hr class="bg-secondary border-5 border-top border-secondary opacity-25 w-50 mx-auto">
                        </div>
                        
                        <!-- New -->
                        <div class="p-2" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;">
                            <div class="club-news-card-title">News title</div>
                            <p class="club-news-card-body-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, debitis!
                            </p>
                            <hr class="bg-secondary border-5 border-top border-secondary opacity-25 w-50 mx-auto">
                        </div>
                        
                        <!-- New -->
                        <div class="p-2" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;">
                            <div class="club-news-card-title">News title</div>
                            <p class="club-news-card-body-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing.
                            </p>
                            <hr class="bg-secondary border-5 border-top border-secondary opacity-25 w-50 mx-auto">
                        </div>

                        <!-- New -->
                        <div class="p-2" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;">
                            <div class="club-news-card-title">News title</div>
                            <p class="club-news-card-body-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, voluptas.
                            </p>
                            <hr class="bg-secondary border-5 border-top border-secondary opacity-25 w-50 mx-auto">
                        </div>

                    </div>
                    
                </div>
            </div>

            <!-- Club competitions and socials -->
            <div class="col-lg-7 col-md-7 col-12">
                <!-- Club competitions -->
                <div class="card club-news-container w-100 bg-dark mb-3" style="--bs-bg-opacity: 0.25;">
                    <!-- Title -->
                    <div class="card-header border-0 pb-0 pt-3" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;">
                        <div class="row">
                            <div class="col-9">
                                <h3 class="m-0 club-page-card-title"><b>Current Competitions</b></h3>
                                <hr class="bg-secondary border-5 border-top border-secondary opacity-25 mt-1" style="height: 0px;">
                            </div>
                            <div class="col-3 px-0">
                                <a href="#" role="button" class="btn btn-info btn-sm border-0 w-75 mx-auto d-flex justify-content-center align-items-center">
                                    <b>Create</b>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    
                    <!-- New Competitions list -->
                    <div class="card-body pt-0" style="overflow-y: auto;">

                        <!-- New Competition -->
                        <div class="row px-0 py-3 m-2 club-page-card-new-competition justify-content-center align-items-center" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;">
                            <div class="col-2">
                                <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="club-new-competition-avatar bg-primary rounded-circle d-block float-none mx-auto"></img>
                            </div>
                            <div class="col-10">
                                <p class="text-center text-wrap m-0 club-name" ><b>best readers</b></p>
                            </div>
                            <hr class="bg-secondary border-5 border-top border-secondary opacity-25 w-50 mx-auto m-0">
                        </div>

                        <!-- New Competition -->
                        <div class="row px-0 py-3 m-2 club-page-card-new-competition justify-content-center align-items-center" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;">
                            <div class="col-2">
                                <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="club-new-competition-avatar bg-primary rounded-circle d-block float-none mx-auto"></img>
                            </div>
                            <div class="col-10">
                                <p class="text-center text-wrap m-0 club-name" ><b>Beat me</b></p>
                            </div>
                            <hr class="bg-secondary border-5 border-top border-secondary opacity-25 w-50 mx-auto m-0">
                        </div>
                        
                        <!-- New Competition -->
                        <div class="row px-0 py-3 m-2 club-page-card-new-competition justify-content-center align-items-center" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;">
                            <div class="col-2">
                                <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="club-new-competition-avatar bg-primary rounded-circle d-block float-none mx-auto"></img>
                            </div>
                            <div class="col-10">
                                <p class="text-center text-wrap m-0 club-name" ><b>XxLegendsxX</b></p>
                            </div>
                            <hr class="bg-secondary border-5 border-top border-secondary opacity-25 w-50 mx-auto m-0">
                        </div>

                    </div>
                    
                </div>

                <!-- Socials -->
                <div class="position-relative club-socials-container row flex-column justify-content-evenly bg-dark m-0 p-2" style="--circle-size: 8cqw; --bs-bg-opacity: 0.25;">
                    <div class="col-12 top-0 start-0 club-page-card-title">
                        <b>Socials</b>
                        <hr class="bg-secondary border-5 border-top border-secondary opacity-25 mt-1" style="height: 0px;">
                    </div>
                    <div class="col-12">
                        <div class="row club-social-list flex-row flex-nowrap gap-0 py-3 justify-content-left align-items-center" style="overflow-x: auto; box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;">
                            <div class="col-auto">
                                <a href="#">
                                    <img src="https://play-lh.googleusercontent.com/0oO5sAneb9lJP6l8c6DH4aj6f85qNpplQVHmPmbbBxAukDnlO7DarDW0b-kEIHa8SQ=w240-h480-rw" class="club-social-circle bg-primary rounded-circle"></a></img>
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="#">
                                    <img src="https://play-lh.googleusercontent.com/VRMWkE5p3CkWhJs6nv-9ZsLAs1QOg5ob1_3qg-rckwYW7yp1fMrYZqnEFpk0IoVP4LM" class="club-social-circle bg-primary rounded-circle"></a></img>
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="#">
                                    <img src="https://play-lh.googleusercontent.com/bYtqbOcTYOlgc6gqZ2rwb8lptHuwlNE75zYJu6Bn076-hTmvd96HH-6v7S0YUAAJXoJN" class="club-social-circle bg-primary rounded-circle"></a></img>
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="#">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/800px-Telegram_2019_Logo.svg.png" class="club-social-circle bg-primary rounded-circle"></a></img>
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="#">
                                    <img src="https://play-lh.googleusercontent.com/-Udh2Qv4FyhP2uLfvNy27jzzXrrIfnDEi9kUqzhy8OQgGUcWXXud6nlg8UywECiRmME" class="club-social-circle bg-primary rounded-circle"></a></img>
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="#">
                                    <img src="https://play-lh.googleusercontent.com/KxeSAjPTKliCErbivNiXrd6cTwfbqUJcbSRPe_IBVK_YmwckfMRS1VIHz-5cgT09yMo" class="club-social-circle bg-primary rounded-circle"></a></img>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    
                    
                </div>
            </div>

            <!-- Club Admins -->
            <div class="col-12 pt-5">
                <div>

                </div>
                <h3 class="club-page-card-title m-0">
                    <b>Directive / Admins</b>
                </h3>
                <hr class="bg-secondary border-5 border-top border-secondary opacity-25 mt-1" >
                <!-- Club Admins -->
                <div class="club-admins-container" style="overflow-y: auto;">
                    <!-- Admin -->
                    <div class="row px-0 py-3 m-2 club-page-card-new-competition justify-content-center align-items-center" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;">
                        <div class="col-2">
                            <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="club-admin-avatar bg-primary rounded-circle d-block float-none mx-auto"></img>
                        </div>
                        <div class="col-10">
                            <p class="text-center text-wrap m-0 club-name" ><b>Gaby</b></p>
                        </div>
                        <hr class="bg-secondary border-5 border-top border-secondary opacity-25 w-50 mx-auto m-0">
                    </div>

                    <!-- Admin -->
                    <div class="row px-0 py-3 m-2 club-page-card-new-competition justify-content-center align-items-center" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;">
                        <div class="col-2">
                            <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="club-admin-avatar bg-primary rounded-circle d-block float-none mx-auto"></img>
                        </div>
                        <div class="col-10">
                            <p class="text-center text-wrap m-0 club-name" ><b>Yuny</b></p>
                        </div>
                        <hr class="bg-secondary border-5 border-top border-secondary opacity-25 w-50 mx-auto m-0">
                    </div>

                </div>
            </div>
        </div>
    </div>
   

    
    
    <!-- Main Content -->

</div>


{% endblock %}
