{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<!-- Main container -->
<div style="max-width: 1000px; margin: 0 auto;">

  <div class="row row-cols-1 row-cols-md-4">

    {% for club in clubs %}
    <div class="col mb-4">
      <div class="card h-100 custom-bg">
        <img src={{ club.image }} class="card-img" alt="...">
        <div class="card-body">
          <div class="card-header">
            <h5 class="card-title text-white"> {{ club.name }} </h5>
          </div>
          <div class="custom-hr"></div>
          <p class="card-text text-white">{{ club.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item custom-bg text-secondary">School: <p class="text-white">{{ club.school }} </p></li>
          <li class="list-group-item custom-bg text-secondary">Country: <p class="text-white">{{ club.country }} </p></li>
          <li class="list-group-item custom-bg text-secondary">Category: <p class="text-white">{{ club.category }} </p></li>
        </ul>
        <div class="card-footer">
          <form>
            <button class="btn">View</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}