{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div style="max-width: 1000px; margin: 0 auto;">

  <!-- Space  -->
  <div class="invisible container-fluid space-filler custom-bg"></div>

  <div class="card text-center text-white custom-bg-2">
    <div class="card-header">

      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-clubs-tab" data-bs-toggle="tab" data-bs-target="#nav-clubs"
          type="button" role="tab" aria-controls="nav-clubs" aria-selected="true">Clubs</button>
        <button class="nav-link" id="nav-events-tab" data-bs-toggle="tab" data-bs-target="#nav-events" type="button"
          role="tab" aria-controls="nav-events" aria-selected="false">Events</button>
      </div>

      <div class="tab-content" id="nav-tabContent">

        <!-- Joined Clubs Tab-->
        <div class="tab-pane fade show active" id="nav-clubs" role="tabpanel" aria-labelledby="nav-clubs-tab"
          tabindex="0">

          <!-- Space before content -->
          <div class="container-fluid no-padding space-filler"></div><br>

          <div class="card custom-bg-2 text-white justify-content-center">
            <div class="card-body justify-content-center">
              <h3 class="card-title">Create your own club</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="container" style="align-items: center; justify-content: center;">
              <a href="/club-creation" class="btn btn-info pt-2" style="max-width: 100px; width: 50%; max-height: 100px; height: 70%; text-align: center;
              align-items: center; justify-content: center;">Create</a>
            </div>
            </div>
          </div>

          {% for club in Clubs %}
          <div class="card-wrapper">
            <div class="card custom-bg" data-card-id="{{ club.id }}">
              <div class="row g-0">
                <div class="col-3">
                  <img src="{{ club.image.url }}" class="img-fluid rounded-start h-100 w-100" alt="..."
                    style="object-fit: cover; min-height: 100%;">
                </div>
                <div class="col-9">
                  <div class="card-body card-body-left text-white h-100">
                    <h6 class="card-title">{{ club.name }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Space  -->
          <div class="invisible container-fluid space-filler custom-bg"></div>
          {% endfor %}



        </div>

        <div class="tab-pane fade" id="nav-events" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">

          <!-- Space before content -->
          <div class="container-fluid no-padding space-filler"></div><br>

          <div class="card custom-bg-2 text-white">
            <div class="card-body">
              <h3 class="card-title">Create a new event</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="container" style="align-items: center; justify-content: center;">
                <a href="#" class="btn btn-info pt-2" style="max-width: 100px; width: 50%; max-height: 100px; height: 70%; text-align: center;
                align-items: center; justify-content: center;"><b>Create</b></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<script>
  document.querySelectorAll('[data-card-id]').forEach(card => {
    const clubId = card.dataset.cardId;

    card.addEventListener('click', function () {

      const destinationUrl = `../clubinformation/${clubId}`;

      // Navigate to the new page
      window.location.href = destinationUrl;
    });
  });
</script>
{% endblock %}