{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div style="max-width: 1000px; margin: 0 auto;">


<div class="card text-center text-white custom-bg-2">
    <div class="card-header">

        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-clubs-tab" data-bs-toggle="tab" data-bs-target="#nav-clubs" type="button" role="tab" aria-controls="nav-clubs" aria-selected="true">Joined Clubs</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
            <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" disabled>Disabled</button>
        </div>

          <div class="tab-content" id="nav-tabContent">

            <!-- Joined Clubs Tab-->
            <div class="tab-pane fade show active" id="nav-clubs" role="tabpanel" aria-labelledby="nav-clubs-tab" tabindex="0">

                <!-- Space before content -->
                <div class="container-fluid no-padding space-filler"></div><br>

                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Create New Club</a>

            </div>

            <div class="tab-pane fade" id="nav-events" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">...</div>
          </div>
    </div>
    <div class="card-body">
      <div class="card-wrapper">
        <div class="card custom-bg">
          <div class="row g-0">
            <div class="col-10 col-sm-1 col-md-3 col-lg-4">
              <img src="https://www.signupgenius.com/cms/images/groups/iStock_000021214814_600x400.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body text-white">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}